body {
    background-color: rgb(41,34,34);
}

h2 {
    color: #F5F5DC;
    text-align: center;
    font-family: toony_line_personalregular;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #FFF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.eyes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lefteye {
    display: flex;
    width: 364.5px;
    height: 219.121px;
    flex-shrink: 0;
    background: url(lefteye/lefteye.png) no-repeat;
}

.lefteye:hover {
    display: flex;
    background: url(righteye/right-closed.png) no-repeat;
    justify-content: space-around;
    align-items: center;
    transform: translateY(100px);
}


.smile {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 64.753px;
    height: 28.914px;
    flex-shrink: 0;
    transform: translateY(100px);
}

.righteye {
   display: flex;
    width: 360.196px;
    height: 219.759px;
    flex-shrink: 0;
    background: url(righteye/righteye.png) no-repeat;
    
}

.righteye:hover {
    display: flex;
    background: url(righteye/right-closed.png) no-repeat; 
    justify-content: space-around;
    align-items: center;
    transform: translateY(100px);
}

h6 {
color: #FFF;
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

a {
    color: #F5F5DC;
    text-decoration: none;
    padding: 100px;
}

a:hover {
    letter-spacing: 10px;
}

.buttons {
display: flex;
align-items: center;
justify-content: space-evenly;
font-family: IBM Plex Mono;
color: #F5F5DC;
}

@media only screen and (max-width: 800px) {

    .eyes {
        width: 100%;
        height: auto;
    }
  
  }


@font-face {
    font-family: 'toony_line_personalregular';
    src: url('toonyline_personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}