body {
    background-color: rgb(41,34,34);
}

@font-face {
    font-family: 'toony_line_personalregular';
    src: url(toonyline_personal_use_only-webfont.woff) format(woff);
}

h2 {
   text-align: center;
    color: #F5F5DC;
    font-family: toony_line_personalregular;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #FFF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wavy {
    position: relative;
    text-align: center;
    background: transparent;
    overflow: hidden;
    width: 300px;
    height: 50px;
    
}

.wavy::before {
content: 'aaaaaaaaaaaaaaaaaaa' ;
position: absolute ; 
top: -30px;
left: 0;
font-size: 4em;
color: transparent;
text-decoration-style: wavy;
text-decoration-color: #F5F5DC;
text-decoration-line: underline;
animation: waves 3s linear infinite;
animation-iteration-count: infinite;
}

@keyframes waves {
    0% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(-150px);
    }
}

.rowofimages {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.rowofimages img {
    max-width: 400px; /* Maximum width is the width of the container */
    max-height: auto; /* Maximum height is the height of the container */
    object-fit: contain; /* Maintain aspect ratio and fit within the container */
    padding: 10px;
}


a {
    color: #F5F5DC;
    text-decoration: none;
    padding: 100px;
}

a:hover {
    letter-spacing: 10px;
}

.buttons {
display: flex;
align-items: center;
justify-content: space-evenly;
font-family: IBM Plex Mono;
color: #F5F5DC;
transform: translateY(300px);
}

@media only screen and (max-width: 1000px) {
    .rowofimages {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    
}
}