body {
    background-color: rgb(41,34,34);
    background-image: url(imgs/tofus.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}


h2 {
    color: #F5F5DC;
    text-align: center;
    font-family: toony_line_personalregular;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #FFF;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tofu {
    display: flex;
    flex-direction: column;
    padding: -100px;
    
}

.tofu img{
    display: flex;
    height: auto;
    width: 60%;
    margin-top: -4%;
    justify-content: center;
    align-self: center;
    opacity: 0;
}

.tofu img:hover {
    opacity: 1;
}

.text1 {
    display: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.text1 img{
    display: flex;
    opacity: 1;
    width: 100%;
    height: auto;
    align-self: center;   
}

.text2 {
  display: fixed;
  margin-left: 26%;
  margin-right: auto;
  margin-top: -1%;
  width: 30%
}

.text2 img{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: auto;
}


.text3 {
    display: fixed;
    margin-left: 60%;
    margin-top: -10%;


}

.text3 img {
    width: 50%;
}



.tofus {
    display: flex;
    z-index: 3;
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    justify-self: center;
    transform: translateY(-1000px);
}

.tofus:hover {
opacity: 0;
}

@font-face {
    font-family: 'toony_line_personalregular';
    src: url('toonyline_personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes shake {
    0% {  transform: rotate(0deg); }
    10% { transform:   rotate(-2deg); }
    20% { transform:  rotate(2deg); }
    30% { transform:   rotate(0deg); }
    40% { transform:   rotate(-2deg); }
    50% { transform:   rotate(-2deg); }
    60% { transform:   rotate(0deg); }
    70% { transform:  rotate(-2deg); }
    80% { transform:  rotate(2deg); }
    90% { transform:  rotate(0deg); }
    100% { transform: rotate(-2deg); }
}


a {
    color: #F5F5DC;
    text-decoration: none;
    padding: 100px;
}

a:hover {
    letter-spacing: 10px;
}

.buttons {
display: flex;
align-items: center;
justify-content: space-evenly;
font-family: IBM Plex Mono;
color: #F5F5DC;
}